NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

NEXT_PUBLIC_DESKTOP_EXE_URL=/downloads/jarvis-desktop-setup.exe
NEXT_PUBLIC_DESKTOP_DMG_URL=/downloads/jarvis-desktop.dmg
NEXT_PUBLIC_ANDROID_APK_URL=/downloads/jarvis-android.apk
